{
  "openapi": "3.0.2",
  "info": {
    "title": "Automat",
    "version": "2.0",
    "termsOfService": "http://loading"
  },
  "servers": [
    {
      "url": "https://automat.renci.org"
    }
  ],
  "paths": {
    "/biolink/1.3/meta_knowledge_graph": {
      "get": {
        "tags": [
          "trapi",
          "RENCI SRI Reference KG"
        ],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-35a59f91-8df3-450b-9f89-4394398ec17d",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/biolink/1.3/sri_testing_data": {
      "get": {
        "tags": [
          "trapi",
          "RENCI SRI Reference KG"
        ],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-eee98a5f-0644-4fc5-afd2-74892af31c3e",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/biolink/1.3/query": {
      "post": {
        "tags": [
          "trapi",
          "RENCI SRI Reference KG"
        ],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-8a50a754-acd9-4ac5-bdb0-686a61917bd1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": [
                          "biolink:ChemicalEntity"
                        ],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": [
                          "biolink:GeneOrGeneProduct"
                        ],
                        "ids": [
                          "NCBIGene:2099"
                        ]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": [
                          "biolink:affects"
                        ],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/biolink/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-195347a7-3d2b-49a1-8f97-8aa97a80ac44",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CypherResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "RENCI SRI Reference KG"
        ]
      }
    },
    "/biolink/overlay": {
      "post": {
        "tags": [
          "translator",
          "RENCI SRI Reference KG"
        ],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-3c14cd2d-23c2-468f-8fbb-1dda14f64089",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": [
                                "Chemokine ligands"
                              ],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [
                                483
                              ],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015:SF170"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "SMALL INDUCIBLE CYTOKINE A",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "edges": {
                      "dd8ef7a4606c4f8e405e6a5b1b095993": {
                        "subject": "NCBIGene:6352",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_by_gene_family",
                              "ctime": 1584932086.0009434,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "NCBIGene:6352",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      },
                      "9f7f9d86cb57e7190aafa57f7564eb05": {
                        "subject": "PANTHER.FAMILY:PTHR12015:SF170",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_family_by_gene_family",
                              "ctime": 1610437123.7988985,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "PANTHER.FAMILY:PTHR12015:SF170",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      }
                    }
                  },
                  "results": [
                    {
                      "node_bindings": {
                        "n1": [
                          {
                            "id": "NCBIGene:6352"
                          }
                        ],
                        "n2": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015"
                          }
                        ],
                        "n3": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015:SF170"
                          }
                        ]
                      },
                      "edge_bindings": {
                        "e12": [
                          {
                            "id": "dd8ef7a4606c4f8e405e6a5b1b095993"
                          }
                        ],
                        "e23": [
                          {
                            "id": "9f7f9d86cb57e7190aafa57f7564eb05"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/biolink/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get-48410b05-d72e-4ef6-8a1f-e12b94347b5d",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": [
          "RENCI SRI Reference KG"
        ]
      }
    },
    "/biolink/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. Note: Please GET /predicates to determine what target goes with a source",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get-37b1b6b4-0eaf-4d4b-b001-ae0d43bd4ffd",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Source Type",
              "type": "string"
            },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Target Type",
              "type": "string"
            },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "RENCI SRI Reference KG"
        ]
      }
    },
    "/biolink/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get-42a55305-fdcc-4e47-987f-92c953a614cb",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Node Type",
              "type": "string"
            },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "RENCI SRI Reference KG"
        ]
      }
    },
    "/biolink/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get-5282898a-0b1f-44ec-bb24-fc3f85f20b27",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "RENCI SRI Reference KG"
        ]
      }
    },
    "/ctd/1.3/meta_knowledge_graph": {
      "get": {
        "tags": [
          "trapi",
          "ctd"
        ],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-0c353cd5-7ada-4d6a-9efb-65033b5fe233",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/ctd/1.3/sri_testing_data": {
      "get": {
        "tags": [
          "trapi",
          "ctd"
        ],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-38f1717c-ec27-493c-9920-50e83f8e8abe",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/ctd/1.3/query": {
      "post": {
        "tags": [
          "trapi",
          "ctd"
        ],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-78cf6784-c009-4b34-9492-ae7ad5e525d4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": [
                          "biolink:ChemicalEntity"
                        ],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": [
                          "biolink:GeneOrGeneProduct"
                        ],
                        "ids": [
                          "NCBIGene:2099"
                        ]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": [
                          "biolink:affects"
                        ],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/ctd/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-2a7b5360-44ec-4a42-9f69-fa3ef243f52e",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CypherResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "ctd"
        ]
      }
    },
    "/ctd/overlay": {
      "post": {
        "tags": [
          "translator",
          "ctd"
        ],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-2838b8bb-15df-4ab8-9d91-be3f2a299c83",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": [
                                "Chemokine ligands"
                              ],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [
                                483
                              ],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015:SF170"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "SMALL INDUCIBLE CYTOKINE A",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "edges": {
                      "dd8ef7a4606c4f8e405e6a5b1b095993": {
                        "subject": "NCBIGene:6352",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_by_gene_family",
                              "ctime": 1584932086.0009434,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "NCBIGene:6352",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      },
                      "9f7f9d86cb57e7190aafa57f7564eb05": {
                        "subject": "PANTHER.FAMILY:PTHR12015:SF170",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_family_by_gene_family",
                              "ctime": 1610437123.7988985,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "PANTHER.FAMILY:PTHR12015:SF170",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      }
                    }
                  },
                  "results": [
                    {
                      "node_bindings": {
                        "n1": [
                          {
                            "id": "NCBIGene:6352"
                          }
                        ],
                        "n2": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015"
                          }
                        ],
                        "n3": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015:SF170"
                          }
                        ]
                      },
                      "edge_bindings": {
                        "e12": [
                          {
                            "id": "dd8ef7a4606c4f8e405e6a5b1b095993"
                          }
                        ],
                        "e23": [
                          {
                            "id": "9f7f9d86cb57e7190aafa57f7564eb05"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/ctd/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get-25d67621-f074-4a80-94dd-d97891145930",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": [
          "ctd"
        ]
      }
    },
    "/ctd/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. Note: Please GET /predicates to determine what target goes with a source",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get-db76ea1a-18e1-4c4f-b5fc-9cf7b84e70f0",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Source Type",
              "type": "string"
            },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Target Type",
              "type": "string"
            },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "ctd"
        ]
      }
    },
    "/ctd/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get-42b8bb33-7bca-43c5-b6f3-5bf52bbca45b",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Node Type",
              "type": "string"
            },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "ctd"
        ]
      }
    },
    "/ctd/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get-948b61b8-13a8-43d0-809a-64a00161831d",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "ctd"
        ]
      }
    },
    "/drugcentral/1.3/meta_knowledge_graph": {
      "get": {
        "tags": [
          "trapi",
          "DrugCentral"
        ],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-4dc96061-5449-46f5-9877-59577608b5d9",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/drugcentral/1.3/sri_testing_data": {
      "get": {
        "tags": [
          "trapi",
          "DrugCentral"
        ],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-2dfc82f3-d253-4e23-aa83-0ab0ab498f0a",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/drugcentral/1.3/query": {
      "post": {
        "tags": [
          "trapi",
          "DrugCentral"
        ],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-a1240bc4-0d82-4c61-b094-230ce1ebf7b5",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": [
                          "biolink:ChemicalEntity"
                        ],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": [
                          "biolink:GeneOrGeneProduct"
                        ],
                        "ids": [
                          "NCBIGene:2099"
                        ]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": [
                          "biolink:affects"
                        ],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/drugcentral/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-beceb631-5d59-4efd-9c89-c8cc365eb2fd",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CypherResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "DrugCentral"
        ]
      }
    },
    "/drugcentral/overlay": {
      "post": {
        "tags": [
          "translator",
          "DrugCentral"
        ],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-19c70cc6-d19b-403b-80cd-348747d0ae7a",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": [
                                "Chemokine ligands"
                              ],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [
                                483
                              ],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015:SF170"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "SMALL INDUCIBLE CYTOKINE A",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "edges": {
                      "dd8ef7a4606c4f8e405e6a5b1b095993": {
                        "subject": "NCBIGene:6352",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_by_gene_family",
                              "ctime": 1584932086.0009434,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "NCBIGene:6352",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      },
                      "9f7f9d86cb57e7190aafa57f7564eb05": {
                        "subject": "PANTHER.FAMILY:PTHR12015:SF170",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_family_by_gene_family",
                              "ctime": 1610437123.7988985,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "PANTHER.FAMILY:PTHR12015:SF170",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      }
                    }
                  },
                  "results": [
                    {
                      "node_bindings": {
                        "n1": [
                          {
                            "id": "NCBIGene:6352"
                          }
                        ],
                        "n2": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015"
                          }
                        ],
                        "n3": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015:SF170"
                          }
                        ]
                      },
                      "edge_bindings": {
                        "e12": [
                          {
                            "id": "dd8ef7a4606c4f8e405e6a5b1b095993"
                          }
                        ],
                        "e23": [
                          {
                            "id": "9f7f9d86cb57e7190aafa57f7564eb05"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/drugcentral/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get-40d1dc4f-4f5f-42f6-8541-9e1c3db9f9f4",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": [
          "DrugCentral"
        ]
      }
    },
    "/drugcentral/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. Note: Please GET /predicates to determine what target goes with a source",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get-b9e0655d-5eac-47ce-863f-fc20257c3633",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Source Type",
              "type": "string"
            },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Target Type",
              "type": "string"
            },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "DrugCentral"
        ]
      }
    },
    "/drugcentral/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get-b25249c0-e239-4b9a-923e-1d28ac516ba5",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Node Type",
              "type": "string"
            },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "DrugCentral"
        ]
      }
    },
    "/drugcentral/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get-9cfc76d8-b984-41e7-bb0e-9e036014b4f6",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "DrugCentral"
        ]
      }
    },
    "/gtex/1.3/meta_knowledge_graph": {
      "get": {
        "tags": [
          "trapi",
          "GTEx"
        ],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-23b2b661-efee-44ed-9fe0-56f0046f1b65",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/gtex/1.3/sri_testing_data": {
      "get": {
        "tags": [
          "trapi",
          "GTEx"
        ],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-59050d5a-25f6-4d59-87f8-732da1a40de1",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/gtex/1.3/query": {
      "post": {
        "tags": [
          "trapi",
          "GTEx"
        ],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-f536d183-b1e9-4009-94f9-92705cd2486b",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": [
                          "biolink:ChemicalEntity"
                        ],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": [
                          "biolink:GeneOrGeneProduct"
                        ],
                        "ids": [
                          "NCBIGene:2099"
                        ]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": [
                          "biolink:affects"
                        ],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/gtex/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-b5c3714c-fe72-42f9-a9b6-b5fb9ddceb80",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CypherResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "GTEx"
        ]
      }
    },
    "/gtex/overlay": {
      "post": {
        "tags": [
          "translator",
          "GTEx"
        ],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-e9b84b25-1459-42c5-a0c7-9422373ea0c7",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": [
                                "Chemokine ligands"
                              ],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [
                                483
                              ],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015:SF170"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "SMALL INDUCIBLE CYTOKINE A",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "edges": {
                      "dd8ef7a4606c4f8e405e6a5b1b095993": {
                        "subject": "NCBIGene:6352",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_by_gene_family",
                              "ctime": 1584932086.0009434,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "NCBIGene:6352",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      },
                      "9f7f9d86cb57e7190aafa57f7564eb05": {
                        "subject": "PANTHER.FAMILY:PTHR12015:SF170",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_family_by_gene_family",
                              "ctime": 1610437123.7988985,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "PANTHER.FAMILY:PTHR12015:SF170",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      }
                    }
                  },
                  "results": [
                    {
                      "node_bindings": {
                        "n1": [
                          {
                            "id": "NCBIGene:6352"
                          }
                        ],
                        "n2": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015"
                          }
                        ],
                        "n3": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015:SF170"
                          }
                        ]
                      },
                      "edge_bindings": {
                        "e12": [
                          {
                            "id": "dd8ef7a4606c4f8e405e6a5b1b095993"
                          }
                        ],
                        "e23": [
                          {
                            "id": "9f7f9d86cb57e7190aafa57f7564eb05"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/gtex/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get-c02a5b2d-1494-4414-aa64-6d773e56754a",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": [
          "GTEx"
        ]
      }
    },
    "/gtex/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. Note: Please GET /predicates to determine what target goes with a source",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get-af1501ab-66f7-4874-a26b-a973281fd286",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Source Type",
              "type": "string"
            },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Target Type",
              "type": "string"
            },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "GTEx"
        ]
      }
    },
    "/gtex/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get-fc93e8a4-6a7f-4a20-aa2b-28edad999910",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Node Type",
              "type": "string"
            },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "GTEx"
        ]
      }
    },
    "/gtex/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get-50f78c2f-0664-42bc-9930-d5d935a1e1e4",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "GTEx"
        ]
      }
    },
    "/gtopdb/1.3/meta_knowledge_graph": {
      "get": {
        "tags": [
          "trapi",
          "GtoPdb"
        ],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-c04e8383-3094-41f1-bd07-212ad81e84d9",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/gtopdb/1.3/sri_testing_data": {
      "get": {
        "tags": [
          "trapi",
          "GtoPdb"
        ],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-5bac8564-0824-46b3-9865-72b07bcd9800",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/gtopdb/1.3/query": {
      "post": {
        "tags": [
          "trapi",
          "GtoPdb"
        ],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-4fc86193-ba3f-4ff1-b760-9c4ea1429eae",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": [
                          "biolink:ChemicalEntity"
                        ],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": [
                          "biolink:GeneOrGeneProduct"
                        ],
                        "ids": [
                          "NCBIGene:2099"
                        ]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": [
                          "biolink:affects"
                        ],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/gtopdb/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-ed567f19-e1a9-4a84-aac1-24d2527847b9",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CypherResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": [
          "GtoPdb"
        ]
      }
    },
    "/gtopdb/overlay": {
      "post": {
        "tags": [
          "translator",
          "GtoPdb"
        ],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-dfa76d28-19a8-4cff-801f-a860629b0a17",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": [
                                "Chemokine ligands"
                              ],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [
                                483
                              ],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
[...]
