{
  "openapi": "3.0.2",
  "info": {
    "title": "Automat",
    "version": "2.0",
    "termsOfService": "http://loading"
  },
  "servers": [
    {
      "url": "https://automat.renci.org"
    }
  ],
  "paths": {
    "/biolink/1.3/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "RENCI SRI Reference KG"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-3ae329c3-4873-4ddc-803f-21a2aa5689d7",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/biolink/1.3/sri_testing_data": {
      "get": {
        "tags": ["trapi", "RENCI SRI Reference KG"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-ead53890-cc51-4780-bc6c-89280254b695",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/biolink/1.3/query": {
      "post": {
        "tags": ["trapi", "RENCI SRI Reference KG"],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-9ec7644a-a76e-496b-8736-bc4eb9b8f349",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:ChemicalEntity"],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": ["biolink:GeneOrGeneProduct"],
                        "ids": ["NCBIGene:2099"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:affects"],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/biolink/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-cae90fec-6176-489c-8c65-10d9e1280d24",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CypherResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["RENCI SRI Reference KG"]
      }
    },
    "/biolink/overlay": {
      "post": {
        "tags": ["translator", "RENCI SRI Reference KG"],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-88e1e1ed-a1de-4dd2-a7e5-38b08e3a0179",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": ["Chemokine ligands"],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [483],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015:SF170"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "SMALL INDUCIBLE CYTOKINE A",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "edges": {
                      "dd8ef7a4606c4f8e405e6a5b1b095993": {
                        "subject": "NCBIGene:6352",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_by_gene_family",
                              "ctime": 1584932086.0009434,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "NCBIGene:6352",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      },
                      "9f7f9d86cb57e7190aafa57f7564eb05": {
                        "subject": "PANTHER.FAMILY:PTHR12015:SF170",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_family_by_gene_family",
                              "ctime": 1610437123.7988985,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "PANTHER.FAMILY:PTHR12015:SF170",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      }
                    }
                  },
                  "results": [
                    {
                      "node_bindings": {
                        "n1": [
                          {
                            "id": "NCBIGene:6352"
                          }
                        ],
                        "n2": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015"
                          }
                        ],
                        "n3": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015:SF170"
                          }
                        ]
                      },
                      "edge_bindings": {
                        "e12": [
                          {
                            "id": "dd8ef7a4606c4f8e405e6a5b1b095993"
                          }
                        ],
                        "e23": [
                          {
                            "id": "9f7f9d86cb57e7190aafa57f7564eb05"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/biolink/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get-dfb4211f-892e-47d7-9a07-97ac44097b72",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": ["RENCI SRI Reference KG"]
      }
    },
    "/biolink/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. Note: Please GET /predicates to determine what target goes with a source",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get-d2948e35-2ced-48f2-8498-a61efb368dd1",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Source Type",
              "type": "string"
            },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Target Type",
              "type": "string"
            },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["RENCI SRI Reference KG"]
      }
    },
    "/biolink/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get-2a728207-0bb5-4ef6-b07a-8638d21aff90",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Node Type",
              "type": "string"
            },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["RENCI SRI Reference KG"]
      }
    },
    "/biolink/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get-d4b86c5f-c360-4cd5-a251-7f1975248ca8",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["RENCI SRI Reference KG"]
      }
    },
    "/ctd/1.3/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "CTD"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-e4de7e0c-11bd-40fc-ae02-c34c8c7b449c",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/ctd/1.3/sri_testing_data": {
      "get": {
        "tags": ["trapi", "CTD"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-658dbe27-4e66-4c8d-8735-9008d777ca05",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/ctd/1.3/query": {
      "post": {
        "tags": ["trapi", "CTD"],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-631d52f6-faec-4de1-930d-82c2444e714c",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:ChemicalEntity"],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": ["biolink:GeneOrGeneProduct"],
                        "ids": ["NCBIGene:2099"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:affects"],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/ctd/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-a7690c71-ea50-4a45-bc0d-159971bfec88",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CypherResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["CTD"]
      }
    },
    "/ctd/overlay": {
      "post": {
        "tags": ["translator", "CTD"],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-3cde7320-287f-4a8b-bb4b-2c1a4b79d224",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": ["Chemokine ligands"],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [483],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015:SF170"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "SMALL INDUCIBLE CYTOKINE A",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "edges": {
                      "dd8ef7a4606c4f8e405e6a5b1b095993": {
                        "subject": "NCBIGene:6352",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_by_gene_family",
                              "ctime": 1584932086.0009434,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "NCBIGene:6352",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      },
                      "9f7f9d86cb57e7190aafa57f7564eb05": {
                        "subject": "PANTHER.FAMILY:PTHR12015:SF170",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_family_by_gene_family",
                              "ctime": 1610437123.7988985,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "PANTHER.FAMILY:PTHR12015:SF170",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      }
                    }
                  },
                  "results": [
                    {
                      "node_bindings": {
                        "n1": [
                          {
                            "id": "NCBIGene:6352"
                          }
                        ],
                        "n2": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015"
                          }
                        ],
                        "n3": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015:SF170"
                          }
                        ]
                      },
                      "edge_bindings": {
                        "e12": [
                          {
                            "id": "dd8ef7a4606c4f8e405e6a5b1b095993"
                          }
                        ],
                        "e23": [
                          {
                            "id": "9f7f9d86cb57e7190aafa57f7564eb05"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/ctd/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get-a5196c14-bb26-4981-a8bb-be2db83364f5",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": ["CTD"]
      }
    },
    "/ctd/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. Note: Please GET /predicates to determine what target goes with a source",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get-df764562-c5f7-4724-83fd-36758d4b05d1",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Source Type",
              "type": "string"
            },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Target Type",
              "type": "string"
            },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["CTD"]
      }
    },
    "/ctd/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get-bfcd0e45-6be8-4529-9e89-7da240eac64c",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Node Type",
              "type": "string"
            },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["CTD"]
      }
    },
    "/ctd/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get-69c2feec-981b-4b18-9cf5-ae29eaa4e8ce",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["CTD"]
      }
    },
    "/drugcentral/1.3/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "DrugCentral"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-2f45cd17-aa8e-48ff-8fa3-09fdd81ac691",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/drugcentral/1.3/sri_testing_data": {
      "get": {
        "tags": ["trapi", "DrugCentral"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-b092671f-3312-498c-8ec3-e7124553ad18",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/drugcentral/1.3/query": {
      "post": {
        "tags": ["trapi", "DrugCentral"],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-4f3ae146-ab98-481a-af02-701c87a11733",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:ChemicalEntity"],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": ["biolink:GeneOrGeneProduct"],
                        "ids": ["NCBIGene:2099"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:affects"],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/drugcentral/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-449ef6c8-4d97-4e32-8dbc-efbfb7582259",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CypherResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["DrugCentral"]
      }
    },
    "/drugcentral/overlay": {
      "post": {
        "tags": ["translator", "DrugCentral"],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-39ca73b6-d162-496c-b9a4-1dd6ca0ade5c",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": ["Chemokine ligands"],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [483],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015:SF170"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "SMALL INDUCIBLE CYTOKINE A",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "edges": {
                      "dd8ef7a4606c4f8e405e6a5b1b095993": {
                        "subject": "NCBIGene:6352",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_by_gene_family",
                              "ctime": 1584932086.0009434,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "NCBIGene:6352",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      },
                      "9f7f9d86cb57e7190aafa57f7564eb05": {
                        "subject": "PANTHER.FAMILY:PTHR12015:SF170",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_family_by_gene_family",
                              "ctime": 1610437123.7988985,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "PANTHER.FAMILY:PTHR12015:SF170",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      }
                    }
                  },
                  "results": [
                    {
                      "node_bindings": {
                        "n1": [
                          {
                            "id": "NCBIGene:6352"
                          }
                        ],
                        "n2": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015"
                          }
                        ],
                        "n3": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015:SF170"
                          }
                        ]
                      },
                      "edge_bindings": {
                        "e12": [
                          {
                            "id": "dd8ef7a4606c4f8e405e6a5b1b095993"
                          }
                        ],
                        "e23": [
                          {
                            "id": "9f7f9d86cb57e7190aafa57f7564eb05"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/drugcentral/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get-3a7b5164-49db-4502-af50-33b8c41e9540",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": ["DrugCentral"]
      }
    },
    "/drugcentral/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. Note: Please GET /predicates to determine what target goes with a source",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get-3e75183b-7098-4a10-aa96-24e364045da4",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Source Type",
              "type": "string"
            },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Target Type",
              "type": "string"
            },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["DrugCentral"]
      }
    },
    "/drugcentral/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get-dce30c3c-48b3-4edb-904a-5bfdc82c2381",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Node Type",
              "type": "string"
            },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["DrugCentral"]
      }
    },
    "/drugcentral/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get-72eb6a36-5331-4e06-9497-4c9cd4c50435",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["DrugCentral"]
      }
    },
    "/gtex/1.3/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "GTEx"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-dfbf5d89-ac60-4497-b48f-cad0aac1326c",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/gtex/1.3/sri_testing_data": {
      "get": {
        "tags": ["trapi", "GTEx"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-d020ac77-5996-497f-a628-c132a598b848",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/gtex/1.3/query": {
      "post": {
        "tags": ["trapi", "GTEx"],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-38d7a52a-64bd-4407-9385-87992ab3260b",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:ChemicalEntity"],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": ["biolink:GeneOrGeneProduct"],
                        "ids": ["NCBIGene:2099"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:affects"],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/gtex/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-09f6c569-5227-47c4-b0ac-98585df00c8e",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CypherResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["GTEx"]
      }
    },
    "/gtex/overlay": {
      "post": {
        "tags": ["translator", "GTEx"],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-d4cf53af-014d-4039-b00a-56f5af8ab5c7",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": ["Chemokine ligands"],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [483],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015:SF170"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "SMALL INDUCIBLE CYTOKINE A",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "edges": {
                      "dd8ef7a4606c4f8e405e6a5b1b095993": {
                        "subject": "NCBIGene:6352",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_by_gene_family",
                              "ctime": 1584932086.0009434,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "NCBIGene:6352",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      },
                      "9f7f9d86cb57e7190aafa57f7564eb05": {
                        "subject": "PANTHER.FAMILY:PTHR12015:SF170",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_family_by_gene_family",
                              "ctime": 1610437123.7988985,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "PANTHER.FAMILY:PTHR12015:SF170",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      }
                    }
                  },
                  "results": [
                    {
                      "node_bindings": {
                        "n1": [
                          {
                            "id": "NCBIGene:6352"
                          }
                        ],
                        "n2": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015"
                          }
                        ],
                        "n3": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015:SF170"
                          }
                        ]
                      },
                      "edge_bindings": {
                        "e12": [
                          {
                            "id": "dd8ef7a4606c4f8e405e6a5b1b095993"
                          }
                        ],
                        "e23": [
                          {
                            "id": "9f7f9d86cb57e7190aafa57f7564eb05"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/gtex/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get-0daead5b-4b49-4402-bfa4-e5450752269e",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": ["GTEx"]
      }
    },
    "/gtex/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. Note: Please GET /predicates to determine what target goes with a source",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get-ce7e8d5b-f096-4ed3-b6bd-c333619ceb03",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Source Type",
              "type": "string"
            },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Target Type",
              "type": "string"
            },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["GTEx"]
      }
    },
    "/gtex/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get-6007ecc2-acf5-4526-8ab0-c6cdafba59e3",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Node Type",
              "type": "string"
            },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["GTEx"]
      }
    },
    "/gtex/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get-8ceb0535-b0c6-4f8a-9772-e96da996e618",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["GTEx"]
      }
    },
    "/gtopdb/1.3/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "GtoPdb"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-bb8d6047-015e-4ae0-beeb-0e3b03d290f7",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/gtopdb/1.3/sri_testing_data": {
      "get": {
        "tags": ["trapi", "GtoPdb"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-b3f9ab06-d213-4dd4-b8c2-b3cb2fc2da06",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/gtopdb/1.3/query": {
      "post": {
        "tags": ["trapi", "GtoPdb"],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-d7516c05-a74a-48b4-9acb-a858400646ce",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:ChemicalEntity"],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": ["biolink:GeneOrGeneProduct"],
                        "ids": ["NCBIGene:2099"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:affects"],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/gtopdb/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-8b954eb1-807f-4559-979d-854aa377a9cd",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CypherResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["GtoPdb"]
      }
    },
    "/gtopdb/overlay": {
      "post": {
        "tags": ["translator", "GtoPdb"],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-83043a99-4ae0-45af-9fd6-fa9ee5ed0414",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": ["Chemokine ligands"],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [483],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015:SF170"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "SMALL INDUCIBLE CYTOKINE A",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "edges": {
                      "dd8ef7a4606c4f8e405e6a5b1b095993": {
                        "subject": "NCBIGene:6352",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_by_gene_family",
                              "ctime": 1584932086.0009434,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "NCBIGene:6352",
                              "source_database": "panther",
[...]
