{
  "openapi": "3.0.2",
  "info": {
    "title": "Automat",
    "version": "2.0",
    "termsOfService": "http://loading"
  },
  "servers": [{ "url": "https://automat.renci.org" }],
  "paths": {
    "/biolink/1.3/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "biolink"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-5033ffa0-e175-4e43-9469-6ea69528f9e3",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MetaKnowledgeGraph" }
              }
            }
          }
        }
      }
    },
    "/biolink/1.3/sri_testing_data": {
      "get": {
        "tags": ["trapi", "biolink"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-964bc37f-b10d-4d4d-ac4a-fbf7c2c5d763",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SRITestData" }
              }
            }
          }
        }
      }
    },
    "/biolink/1.3/query": {
      "post": {
        "tags": ["trapi", "biolink"],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-e533f09a-b737-48c1-9b75-4beaee300969",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReasonerRequest" },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:ChemicalEntity"],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": ["biolink:GeneOrGeneProduct"],
                        "ids": ["NCBIGene:2099"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:affects"],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [{ "id": "lookup" }]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReasonerRequest" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/biolink/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-2d5f744f-c004-40d7-bd78-479e67a20564",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CypherRequest" },
              "example": { "query": "MATCH (n) RETURN count(n)" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CypherResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "tags": ["biolink"]
      }
    },
    "/biolink/overlay": {
      "post": {
        "tags": ["translator", "biolink"],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-cc0ae070-6c33-47e5-96ae-4c7fd393679c",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReasonerRequest" },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": ["Chemokine ligands"],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [483],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015:SF170"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "SMALL INDUCIBLE CYTOKINE A",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "edges": {
                      "dd8ef7a4606c4f8e405e6a5b1b095993": {
                        "subject": "NCBIGene:6352",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_by_gene_family",
                              "ctime": 1584932086.0009434,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "NCBIGene:6352",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      },
                      "9f7f9d86cb57e7190aafa57f7564eb05": {
                        "subject": "PANTHER.FAMILY:PTHR12015:SF170",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_family_by_gene_family",
                              "ctime": 1610437123.7988985,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "PANTHER.FAMILY:PTHR12015:SF170",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      }
                    }
                  },
                  "results": [
                    {
                      "node_bindings": {
                        "n1": [{ "id": "NCBIGene:6352" }],
                        "n2": [{ "id": "PANTHER.FAMILY:PTHR12015" }],
                        "n3": [{ "id": "PANTHER.FAMILY:PTHR12015:SF170" }]
                      },
                      "edge_bindings": {
                        "e12": [{ "id": "dd8ef7a4606c4f8e405e6a5b1b095993" }],
                        "e23": [{ "id": "9f7f9d86cb57e7190aafa57f7564eb05" }]
                      }
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/biolink/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get-1af0ed97-1b25-49db-a3df-a3a87b2c0eeb",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "title": "Response Metadata Metadata Get" }
              }
            }
          }
        },
        "tags": ["biolink"]
      }
    },
    "/biolink/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. Note: Please GET /predicates to determine what target goes with a source",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get-291b51b0-25ea-4df6-805e-de6b04ea80c0",
        "parameters": [
          {
            "required": true,
            "schema": { "title": "Source Type", "type": "string" },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": { "title": "Target Type", "type": "string" },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": { "title": "Curie", "type": "string" },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "tags": ["biolink"]
      }
    },
    "/biolink/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get-fbbadc14-ff0a-4978-b501-a3d1bc0a4427",
        "parameters": [
          {
            "required": true,
            "schema": { "title": "Node Type", "type": "string" },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": { "title": "Curie", "type": "string" },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "tags": ["biolink"]
      }
    },
    "/biolink/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get-6e57068b-c02e-4a4f-8236-55f65de79a41",
        "parameters": [
          {
            "required": false,
            "schema": { "title": "Source", "type": "string" },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": { "title": "Target", "type": "string" },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SimpleSpecElement" }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "tags": ["biolink"]
      }
    },
    "/ctd/1.3/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "ctd"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-ba823bf3-b0d2-4576-b7c1-596525975373",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MetaKnowledgeGraph" }
              }
            }
          }
        }
      }
    },
    "/ctd/1.3/sri_testing_data": {
      "get": {
        "tags": ["trapi", "ctd"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-629b16df-fead-4921-81cf-fc431f0ce79d",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SRITestData" }
              }
            }
          }
        }
      }
    },
    "/ctd/1.3/query": {
      "post": {
        "tags": ["trapi", "ctd"],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-5f91a32a-bda8-4b73-8244-f27366d74f27",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReasonerRequest" },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:ChemicalEntity"],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": ["biolink:GeneOrGeneProduct"],
                        "ids": ["NCBIGene:2099"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:affects"],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [{ "id": "lookup" }]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReasonerRequest" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/ctd/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-80e272dd-7995-4391-8ec7-d1c16004b057",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CypherRequest" },
              "example": { "query": "MATCH (n) RETURN count(n)" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CypherResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "tags": ["ctd"]
      }
    },
    "/ctd/overlay": {
      "post": {
        "tags": ["translator", "ctd"],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-5cc6e9b2-f964-42ff-b3ec-ac70c20b3a37",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReasonerRequest" },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": ["Chemokine ligands"],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [483],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015:SF170"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "SMALL INDUCIBLE CYTOKINE A",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "edges": {
                      "dd8ef7a4606c4f8e405e6a5b1b095993": {
                        "subject": "NCBIGene:6352",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_by_gene_family",
                              "ctime": 1584932086.0009434,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "NCBIGene:6352",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      },
                      "9f7f9d86cb57e7190aafa57f7564eb05": {
                        "subject": "PANTHER.FAMILY:PTHR12015:SF170",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_family_by_gene_family",
                              "ctime": 1610437123.7988985,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "PANTHER.FAMILY:PTHR12015:SF170",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      }
                    }
                  },
                  "results": [
                    {
                      "node_bindings": {
                        "n1": [{ "id": "NCBIGene:6352" }],
                        "n2": [{ "id": "PANTHER.FAMILY:PTHR12015" }],
                        "n3": [{ "id": "PANTHER.FAMILY:PTHR12015:SF170" }]
                      },
                      "edge_bindings": {
                        "e12": [{ "id": "dd8ef7a4606c4f8e405e6a5b1b095993" }],
                        "e23": [{ "id": "9f7f9d86cb57e7190aafa57f7564eb05" }]
                      }
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/ctd/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get-80a5b6e0-3b2a-4539-9751-8b13ccf310c1",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "title": "Response Metadata Metadata Get" }
              }
            }
          }
        },
        "tags": ["ctd"]
      }
    },
    "/ctd/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. Note: Please GET /predicates to determine what target goes with a source",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get-a70c1f0f-ca04-4731-93f4-c293174c26d9",
        "parameters": [
          {
            "required": true,
            "schema": { "title": "Source Type", "type": "string" },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": { "title": "Target Type", "type": "string" },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": { "title": "Curie", "type": "string" },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "tags": ["ctd"]
      }
    },
    "/ctd/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get-ba5f3e6a-89c0-4ea4-969a-eba3fc1ba2ce",
        "parameters": [
          {
            "required": true,
            "schema": { "title": "Node Type", "type": "string" },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": { "title": "Curie", "type": "string" },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "tags": ["ctd"]
      }
    },
    "/ctd/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get-3db6fdc8-de9f-4f0d-864b-ca6e0663f3bb",
        "parameters": [
          {
            "required": false,
            "schema": { "title": "Source", "type": "string" },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": { "title": "Target", "type": "string" },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SimpleSpecElement" }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "tags": ["ctd"]
      }
    },
    "/drugcentral/1.3/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "drugcentral"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-407b8d00-b2f0-49cc-a974-627849acc7e8",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MetaKnowledgeGraph" }
              }
            }
          }
        }
      }
    },
    "/drugcentral/1.3/sri_testing_data": {
      "get": {
        "tags": ["trapi", "drugcentral"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-92875741-1ac3-41ce-a522-b0ea80ee2539",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SRITestData" }
              }
            }
          }
        }
      }
    },
    "/drugcentral/1.3/query": {
      "post": {
        "tags": ["trapi", "drugcentral"],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-5ec5c319-bbef-4c23-b6c5-43c80198b2d0",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReasonerRequest" },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:ChemicalEntity"],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": ["biolink:GeneOrGeneProduct"],
                        "ids": ["NCBIGene:2099"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:affects"],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [{ "id": "lookup" }]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReasonerRequest" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/drugcentral/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-67c5041c-9dd3-42bd-bb54-81cf9fb2e542",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CypherRequest" },
              "example": { "query": "MATCH (n) RETURN count(n)" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CypherResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "tags": ["drugcentral"]
      }
    },
    "/drugcentral/overlay": {
      "post": {
        "tags": ["translator", "drugcentral"],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-476606d3-ad56-4bb5-a4d4-3bfa42cc4a18",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReasonerRequest" },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": ["Chemokine ligands"],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [483],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015:SF170"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "SMALL INDUCIBLE CYTOKINE A",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "edges": {
                      "dd8ef7a4606c4f8e405e6a5b1b095993": {
                        "subject": "NCBIGene:6352",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_by_gene_family",
                              "ctime": 1584932086.0009434,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "NCBIGene:6352",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      },
                      "9f7f9d86cb57e7190aafa57f7564eb05": {
                        "subject": "PANTHER.FAMILY:PTHR12015:SF170",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_family_by_gene_family",
                              "ctime": 1610437123.7988985,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "PANTHER.FAMILY:PTHR12015:SF170",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      }
                    }
                  },
                  "results": [
                    {
                      "node_bindings": {
                        "n1": [{ "id": "NCBIGene:6352" }],
                        "n2": [{ "id": "PANTHER.FAMILY:PTHR12015" }],
                        "n3": [{ "id": "PANTHER.FAMILY:PTHR12015:SF170" }]
                      },
                      "edge_bindings": {
                        "e12": [{ "id": "dd8ef7a4606c4f8e405e6a5b1b095993" }],
                        "e23": [{ "id": "9f7f9d86cb57e7190aafa57f7564eb05" }]
                      }
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/drugcentral/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get-e402f062-0373-4020-8a6d-906aa86bad04",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "title": "Response Metadata Metadata Get" }
              }
            }
          }
        },
        "tags": ["drugcentral"]
      }
    },
    "/drugcentral/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. Note: Please GET /predicates to determine what target goes with a source",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get-88779597-95b5-4e2f-a07e-1aa653463774",
        "parameters": [
          {
            "required": true,
            "schema": { "title": "Source Type", "type": "string" },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": { "title": "Target Type", "type": "string" },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": { "title": "Curie", "type": "string" },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "tags": ["drugcentral"]
      }
    },
    "/drugcentral/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get-0eaa34c2-2921-42c2-9236-841d3da88295",
        "parameters": [
          {
            "required": true,
            "schema": { "title": "Node Type", "type": "string" },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": { "title": "Curie", "type": "string" },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "tags": ["drugcentral"]
      }
    },
    "/drugcentral/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get-f7ae12bf-32e4-42b8-9237-1794628216da",
        "parameters": [
          {
            "required": false,
            "schema": { "title": "Source", "type": "string" },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": { "title": "Target", "type": "string" },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SimpleSpecElement" }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "tags": ["drugcentral"]
      }
    },
    "/gtex/1.3/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "gtex"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-cad66429-16f5-4b47-b176-58abe2446b29",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MetaKnowledgeGraph" }
              }
            }
          }
        }
      }
    },
    "/gtex/1.3/sri_testing_data": {
      "get": {
        "tags": ["trapi", "gtex"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-32105a50-305d-4c6e-96a3-9061efb0aa60",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SRITestData" }
              }
            }
          }
        }
      }
    },
    "/gtex/1.3/query": {
      "post": {
        "tags": ["trapi", "gtex"],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-5e872957-4e88-439c-8ea8-a44305e6e4f7",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReasonerRequest" },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:ChemicalEntity"],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": ["biolink:GeneOrGeneProduct"],
                        "ids": ["NCBIGene:2099"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:affects"],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [{ "id": "lookup" }]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReasonerRequest" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/gtex/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-29eed033-19e6-4580-bcac-33033480ba97",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CypherRequest" },
              "example": { "query": "MATCH (n) RETURN count(n)" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CypherResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "tags": ["gtex"]
      }
    },
    "/gtex/overlay": {
      "post": {
        "tags": ["translator", "gtex"],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-e9469926-1ebe-4273-a6ad-9f570f71feea",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReasonerRequest" },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": ["Chemokine ligands"],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [483],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015:SF170"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "SMALL INDUCIBLE CYTOKINE A",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "edges": {
                      "dd8ef7a4606c4f8e405e6a5b1b095993": {
                        "subject": "NCBIGene:6352",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_by_gene_family",
                              "ctime": 1584932086.0009434,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "NCBIGene:6352",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      },
                      "9f7f9d86cb57e7190aafa57f7564eb05": {
                        "subject": "PANTHER.FAMILY:PTHR12015:SF170",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_family_by_gene_family",
                              "ctime": 1610437123.7988985,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "PANTHER.FAMILY:PTHR12015:SF170",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      }
                    }
                  },
                  "results": [
                    {
                      "node_bindings": {
                        "n1": [{ "id": "NCBIGene:6352" }],
                        "n2": [{ "id": "PANTHER.FAMILY:PTHR12015" }],
                        "n3": [{ "id": "PANTHER.FAMILY:PTHR12015:SF170" }]
                      },
                      "edge_bindings": {
                        "e12": [{ "id": "dd8ef7a4606c4f8e405e6a5b1b095993" }],
                        "e23": [{ "id": "9f7f9d86cb57e7190aafa57f7564eb05" }]
                      }
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/gtex/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get-09f2e483-c2bf-452b-ac9a-89598d5cd7b3",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "title": "Response Metadata Metadata Get" }
              }
            }
          }
        },
        "tags": ["gtex"]
      }
    },
    "/gtex/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. Note: Please GET /predicates to determine what target goes with a source",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get-ff8462c2-bb9d-49c0-8243-2ad3c63ee965",
        "parameters": [
          {
            "required": true,
            "schema": { "title": "Source Type", "type": "string" },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": { "title": "Target Type", "type": "string" },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": { "title": "Curie", "type": "string" },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "tags": ["gtex"]
      }
    },
    "/gtex/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get-2c86b8d0-0754-43ae-9ecb-92ff59b5fbf2",
        "parameters": [
          {
            "required": true,
            "schema": { "title": "Node Type", "type": "string" },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": { "title": "Curie", "type": "string" },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "tags": ["gtex"]
      }
    },
    "/gtex/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get-0a133cb7-bb40-4e5d-8cd6-28ba0adfc856",
        "parameters": [
          {
            "required": false,
            "schema": { "title": "Source", "type": "string" },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": { "title": "Target", "type": "string" },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/SimpleSpecElement" }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "tags": ["gtex"]
      }
    },
    "/gtopdb/1.3/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "gtopdb"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-87ac8585-0fed-4942-a8bb-64a5eb682de2",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/MetaKnowledgeGraph" }
              }
            }
          }
        }
      }
    },
    "/gtopdb/1.3/sri_testing_data": {
      "get": {
        "tags": ["trapi", "gtopdb"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-044f2b29-a127-4b88-ae5b-e6ab5f8b48c8",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SRITestData" }
              }
            }
          }
        }
      }
    },
    "/gtopdb/1.3/query": {
      "post": {
        "tags": ["trapi", "gtopdb"],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-942e3de3-dcf7-4b5b-aeab-fba3f201c89b",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReasonerRequest" },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:ChemicalEntity"],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": ["biolink:GeneOrGeneProduct"],
                        "ids": ["NCBIGene:2099"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:affects"],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [{ "id": "lookup" }]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ReasonerRequest" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/gtopdb/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-a23e6b8e-579e-4df1-bdf5-83c0fdcfc00d",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CypherRequest" },
              "example": { "query": "MATCH (n) RETURN count(n)" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CypherResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "tags": ["gtopdb"]
      }
    },
    "/gtopdb/overlay": {
      "post": {
        "tags": ["translator", "gtopdb"],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-12b8d71b-858c-4bb9-9bef-4a4dd8623f38",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReasonerRequest" },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": ["Chemokine ligands"],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [483],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015:SF170"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "SMALL INDUCIBLE CYTOKINE A",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "edges": {
                      "dd8ef7a4606c4f8e405e6a5b1b095993": {
                        "subject": "NCBIGene:6352",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_by_gene_family",
                              "ctime": 1584932086.0009434,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "NCBIGene:6352",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      },
                      "9f7f9d86cb57e7190aafa57f7564eb05": {
                        "subject": "PANTHER.FAMILY:PTHR12015:SF170",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_family_by_gene_family",
                              "ctime": 1610437123.7988985,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "PANTHER.FAMILY:PTHR12015:SF170",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      }
                    }
                  },
                  "results": [
                    {
                      "node_bindings": {
                        "n1": [{ "id": "NCBIGene:6352" }],
                        "n2": [{ "id": "PANTHER.FAMILY:PTHR12015" }],
                        "n3": [{ "id": "PANTHER.FAMILY:PTHR12015:SF170" }]
                      },
                      "edge_bindings": {
                        "e12": [{ "id": "dd8ef7a4606c4f8e405e6a5b1b095993" }],
                        "e23": [{ "id": "9f7f9d86cb57e7190aafa57f7564eb05" }]
                      }
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Message" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/gtopdb/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get-8f55defa-6351-4eb8-a0eb-3b0f74e60dcd",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "title": "Response Metadata Metadata Get" }
              }
            }
          }
        },
        "tags": ["gtopdb"]
      }
    },
    "/gtopdb/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. Note: Please GET /predicates to determine what target goes with a source",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get-9e29914f-3fe8-449f-af24-560aca70c7b1",
        "parameters": [
          {
            "required": true,
            "schema": { "title": "Source Type", "type": "string" },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": { "title": "Target Type", "type": "string" },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": { "title": "Curie", "type": "string" },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "tags": ["gtopdb"]
      }
    },
    "/gtopdb/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get-9fba81dd-12f9-41e9-a8e6-93f4468ae3d3",
        "parameters": [
          {
            "required": true,
            "schema": { "title": "Node Type", "type": "string" },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": { "title": "Curie", "type": "string" },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "tags": ["gtopdb"]
      }
    },
    "/gtopdb/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
[...]
