{
  "openapi": "3.0.2",
  "info": {
    "title": "Automat",
    "version": "2.0",
    "termsOfService": "http://loading"
  },
  "servers": [
    {
      "url": "https://automat.renci.org"
    }
  ],
  "paths": {
    "/biolink/1.3/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "RENCI SRI Reference KG"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-9d0add55-96a0-4b5e-90de-80cf6f176b36",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/biolink/1.3/sri_testing_data": {
      "get": {
        "tags": ["trapi", "RENCI SRI Reference KG"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-1c7c4238-1054-4779-9ba6-ccdab04de469",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/biolink/1.3/query": {
      "post": {
        "tags": ["trapi", "RENCI SRI Reference KG"],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-8841de57-b37d-4db3-9e81-667e78b15a39",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:ChemicalEntity"],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": ["biolink:GeneOrGeneProduct"],
                        "ids": ["NCBIGene:2099"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:affects"],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/biolink/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-4b4dec95-fb2c-4f1b-a9d2-1f257dd8058c",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CypherResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["RENCI SRI Reference KG"]
      }
    },
    "/biolink/overlay": {
      "post": {
        "tags": ["translator", "RENCI SRI Reference KG"],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-22fac737-5008-47ed-970b-6876247ce152",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": ["Chemokine ligands"],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [483],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015:SF170"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "SMALL INDUCIBLE CYTOKINE A",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "edges": {
                      "dd8ef7a4606c4f8e405e6a5b1b095993": {
                        "subject": "NCBIGene:6352",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_by_gene_family",
                              "ctime": 1584932086.0009434,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "NCBIGene:6352",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      },
                      "9f7f9d86cb57e7190aafa57f7564eb05": {
                        "subject": "PANTHER.FAMILY:PTHR12015:SF170",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_family_by_gene_family",
                              "ctime": 1610437123.7988985,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "PANTHER.FAMILY:PTHR12015:SF170",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      }
                    }
                  },
                  "results": [
                    {
                      "node_bindings": {
                        "n1": [
                          {
                            "id": "NCBIGene:6352"
                          }
                        ],
                        "n2": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015"
                          }
                        ],
                        "n3": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015:SF170"
                          }
                        ]
                      },
                      "edge_bindings": {
                        "e12": [
                          {
                            "id": "dd8ef7a4606c4f8e405e6a5b1b095993"
                          }
                        ],
                        "e23": [
                          {
                            "id": "9f7f9d86cb57e7190aafa57f7564eb05"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/biolink/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get-c98fe8b3-bf63-4512-957c-8a9ea6524cd7",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": ["RENCI SRI Reference KG"]
      }
    },
    "/biolink/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. Note: Please GET /predicates to determine what target goes with a source",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get-4e8bd51b-5365-4969-afda-fe9c3346808e",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Source Type",
              "type": "string"
            },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Target Type",
              "type": "string"
            },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["RENCI SRI Reference KG"]
      }
    },
    "/biolink/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get-b9aa2e39-a028-43a5-afe3-32797a86f81e",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Node Type",
              "type": "string"
            },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["RENCI SRI Reference KG"]
      }
    },
    "/biolink/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get-cb06f7f6-ed99-4521-a69d-a32a866bc8dd",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["RENCI SRI Reference KG"]
      }
    },
    "/ctd/1.3/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "CTD"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-2b251118-c51e-4dd0-93fc-85f96e6e262a",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/ctd/1.3/sri_testing_data": {
      "get": {
        "tags": ["trapi", "CTD"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-dcb9bbac-ba18-4a19-88bd-872d96d6da5d",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/ctd/1.3/query": {
      "post": {
        "tags": ["trapi", "CTD"],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-bc742181-ae0f-4774-8ed1-2b5849a72afb",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:ChemicalEntity"],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": ["biolink:GeneOrGeneProduct"],
                        "ids": ["NCBIGene:2099"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:affects"],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/ctd/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-907d4efc-8f19-42f9-a809-a6730eb305ba",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CypherResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["CTD"]
      }
    },
    "/ctd/overlay": {
      "post": {
        "tags": ["translator", "CTD"],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-f1b2fb1f-30e3-40e1-8429-8582e4054c13",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": ["Chemokine ligands"],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [483],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015:SF170"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "SMALL INDUCIBLE CYTOKINE A",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "edges": {
                      "dd8ef7a4606c4f8e405e6a5b1b095993": {
                        "subject": "NCBIGene:6352",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_by_gene_family",
                              "ctime": 1584932086.0009434,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "NCBIGene:6352",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      },
                      "9f7f9d86cb57e7190aafa57f7564eb05": {
                        "subject": "PANTHER.FAMILY:PTHR12015:SF170",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_family_by_gene_family",
                              "ctime": 1610437123.7988985,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "PANTHER.FAMILY:PTHR12015:SF170",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      }
                    }
                  },
                  "results": [
                    {
                      "node_bindings": {
                        "n1": [
                          {
                            "id": "NCBIGene:6352"
                          }
                        ],
                        "n2": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015"
                          }
                        ],
                        "n3": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015:SF170"
                          }
                        ]
                      },
                      "edge_bindings": {
                        "e12": [
                          {
                            "id": "dd8ef7a4606c4f8e405e6a5b1b095993"
                          }
                        ],
                        "e23": [
                          {
                            "id": "9f7f9d86cb57e7190aafa57f7564eb05"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/ctd/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get-fdd2a86f-55e7-4cd6-9312-1db92821cf29",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": ["CTD"]
      }
    },
    "/ctd/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. Note: Please GET /predicates to determine what target goes with a source",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get-677d24af-641a-4c6c-8972-1cc495355eb6",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Source Type",
              "type": "string"
            },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Target Type",
              "type": "string"
            },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["CTD"]
      }
    },
    "/ctd/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get-5f42932f-ff56-4a99-9315-ad78353dff95",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Node Type",
              "type": "string"
            },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["CTD"]
      }
    },
    "/ctd/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get-97946aad-9a62-4cfb-9d42-8cf581c9be71",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["CTD"]
      }
    },
    "/drugcentral/1.3/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "DrugCentral"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-0681a8fa-6a94-4ebb-aa97-7b36455d89ea",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/drugcentral/1.3/sri_testing_data": {
      "get": {
        "tags": ["trapi", "DrugCentral"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-93758bc6-5e06-48fc-99a2-eee073e7a9ae",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/drugcentral/1.3/query": {
      "post": {
        "tags": ["trapi", "DrugCentral"],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-4745d12c-02e7-462d-a90e-0ba6f04aa1ab",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:ChemicalEntity"],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": ["biolink:GeneOrGeneProduct"],
                        "ids": ["NCBIGene:2099"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:affects"],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/drugcentral/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-4c32a9e4-18df-4524-b0e2-d55b73ab73ad",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CypherResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["DrugCentral"]
      }
    },
    "/drugcentral/overlay": {
      "post": {
        "tags": ["translator", "DrugCentral"],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-1012db24-4d92-4b79-8ab1-1c3bf8ac77da",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": ["Chemokine ligands"],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [483],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015:SF170"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "SMALL INDUCIBLE CYTOKINE A",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "edges": {
                      "dd8ef7a4606c4f8e405e6a5b1b095993": {
                        "subject": "NCBIGene:6352",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_by_gene_family",
                              "ctime": 1584932086.0009434,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "NCBIGene:6352",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      },
                      "9f7f9d86cb57e7190aafa57f7564eb05": {
                        "subject": "PANTHER.FAMILY:PTHR12015:SF170",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_family_by_gene_family",
                              "ctime": 1610437123.7988985,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "PANTHER.FAMILY:PTHR12015:SF170",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      }
                    }
                  },
                  "results": [
                    {
                      "node_bindings": {
                        "n1": [
                          {
                            "id": "NCBIGene:6352"
                          }
                        ],
                        "n2": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015"
                          }
                        ],
                        "n3": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015:SF170"
                          }
                        ]
                      },
                      "edge_bindings": {
                        "e12": [
                          {
                            "id": "dd8ef7a4606c4f8e405e6a5b1b095993"
                          }
                        ],
                        "e23": [
                          {
                            "id": "9f7f9d86cb57e7190aafa57f7564eb05"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/drugcentral/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get-a9f352de-1e4d-4da2-9def-f873de169a7d",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": ["DrugCentral"]
      }
    },
    "/drugcentral/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. Note: Please GET /predicates to determine what target goes with a source",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get-66bfc45b-d3f8-43f9-b2b1-43741a0c05ae",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Source Type",
              "type": "string"
            },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Target Type",
              "type": "string"
            },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["DrugCentral"]
      }
    },
    "/drugcentral/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get-c28c7b66-f8f3-4c5b-a237-521a00a38af9",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Node Type",
              "type": "string"
            },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["DrugCentral"]
      }
    },
    "/drugcentral/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get-397d70cf-6061-40e8-b415-23332f22c47e",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["DrugCentral"]
      }
    },
    "/gtex/1.3/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "GTEx"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-9dca3cd7-23be-452e-97fc-81ffc67b0725",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/gtex/1.3/sri_testing_data": {
      "get": {
        "tags": ["trapi", "GTEx"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-a4b2255e-b67b-4e48-9ac6-eedfa5182139",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/gtex/1.3/query": {
      "post": {
        "tags": ["trapi", "GTEx"],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-88c8a6f3-5692-4ccf-85fa-5adf594d20fe",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:ChemicalEntity"],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": ["biolink:GeneOrGeneProduct"],
                        "ids": ["NCBIGene:2099"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:affects"],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/gtex/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-eb574dee-e10f-4abb-a882-f627f6c66f5d",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CypherResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["GTEx"]
      }
    },
    "/gtex/overlay": {
      "post": {
        "tags": ["translator", "GTEx"],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-3c7ba9be-3da2-44db-b53b-ea7a9b1e5c46",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": ["Chemokine ligands"],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [483],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015:SF170"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "SMALL INDUCIBLE CYTOKINE A",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "edges": {
                      "dd8ef7a4606c4f8e405e6a5b1b095993": {
                        "subject": "NCBIGene:6352",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_by_gene_family",
                              "ctime": 1584932086.0009434,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "NCBIGene:6352",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      },
                      "9f7f9d86cb57e7190aafa57f7564eb05": {
                        "subject": "PANTHER.FAMILY:PTHR12015:SF170",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_family_by_gene_family",
                              "ctime": 1610437123.7988985,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "PANTHER.FAMILY:PTHR12015:SF170",
                              "source_database": "panther",
                              "relation": "BFO:0000050",
                              "publications": []
                            }
                          }
                        ]
                      }
                    }
                  },
                  "results": [
                    {
                      "node_bindings": {
                        "n1": [
                          {
                            "id": "NCBIGene:6352"
                          }
                        ],
                        "n2": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015"
                          }
                        ],
                        "n3": [
                          {
                            "id": "PANTHER.FAMILY:PTHR12015:SF170"
                          }
                        ]
                      },
                      "edge_bindings": {
                        "e12": [
                          {
                            "id": "dd8ef7a4606c4f8e405e6a5b1b095993"
                          }
                        ],
                        "e23": [
                          {
                            "id": "9f7f9d86cb57e7190aafa57f7564eb05"
                          }
                        ]
                      }
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/gtex/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get-c1848be0-7088-40f3-9a54-bcfc2715fb2d",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": ["GTEx"]
      }
    },
    "/gtex/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. Note: Please GET /predicates to determine what target goes with a source",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get-5790b3dc-fce2-4746-9342-ff7465b99cc9",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Source Type",
              "type": "string"
            },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Target Type",
              "type": "string"
            },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["GTEx"]
      }
    },
    "/gtex/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get-2adce338-d9eb-4ca6-bbcb-d5c652d7cac1",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Node Type",
              "type": "string"
            },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["GTEx"]
      }
    },
    "/gtex/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get-9466d92f-83c4-41ef-a653-792f1688056d",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["GTEx"]
      }
    },
    "/gtopdb/1.3/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "GtoPdb"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns meta knowledge graph representation of this TRAPI web service.",
        "operationId": "get_meta_knowledge_graph_1_3_meta_knowledge_graph_get-23302593-60a6-4685-b37a-85e550aa42be",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/gtopdb/1.3/sri_testing_data": {
      "get": {
        "tags": ["trapi", "GtoPdb"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_1_3_sri_testing_data_get-25be00ba-1192-4f1d-9c8e-da48516f7269",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/gtopdb/1.3/query": {
      "post": {
        "tags": ["trapi", "GtoPdb"],
        "summary": "Query reasoner via one of several inputs.",
        "description": "Handle TRAPI request.",
        "operationId": "reasoner_api_1_3_query_post-339bf451-ff3e-4ea3-bfd7-2f6c4523678f",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:ChemicalEntity"],
                        "ids": [
                          "CHEMBL.COMPOUND:CHEMBL3234626",
                          "CHEMBL.COMPOUND:CHEMBL3234633"
                        ]
                      },
                      "n1": {
                        "categories": ["biolink:GeneOrGeneProduct"],
                        "ids": ["NCBIGene:2099"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:affects"],
                        "qualifier_constraints": [
                          {
                            "qualifier_set": [
                              {
                                "qualifier_type_id": "biolink:object_aspect_qualifier",
                                "qualifier_value": "activity"
                              },
                              {
                                "qualifier_type_id": "biolink:object_direction_qualifier",
                                "qualifier_value": "increased"
                              },
                              {
                                "qualifier_type_id": "biolink:qualified_predicate",
                                "qualifier_value": "biolink:causes"
                              }
                            ]
                          }
                        ]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/gtopdb/cypher": {
      "post": {
        "summary": "Run cypher query",
        "description": "Runs cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post-463939e4-1b81-4020-b453-1402a83c7e00",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CypherResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["GtoPdb"]
      }
    },
    "/gtopdb/overlay": {
      "post": {
        "tags": ["translator", "GtoPdb"],
        "summary": "Overlay results with available connections between each node.",
        "description": "Given a ReasonerAPI graph, add support edges for any nodes linked in result bindings.",
        "operationId": "overlay_overlay_post-e63c6d89-a620-4313-8ab8-d8dc44dfd3d8",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n1": {
                        "id": "NCBIGene:6352",
                        "category": "biolink:Gene",
                        "is_set": false
                      },
                      "n2": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      },
                      "n3": {
                        "category": "biolink:GeneFamily",
                        "is_set": false
                      }
                    },
                    "edges": {
                      "e12": {
                        "subject": "n1",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      },
                      "e23": {
                        "subject": "n3",
                        "object": "n2",
                        "predicate": "biolink:part_of"
                      }
                    }
                  },
                  "knowledge_graph": {
                    "nodes": {
                      "NCBIGene:6352": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:MolecularEntity",
                          "biolink:GenomicEntity",
                          "biolink:GeneOrGeneProduct",
                          "biolink:MacromolecularMachine",
                          "biolink:Gene"
                        ],
                        "name": "CCL5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "locus_group": "protein-coding gene",
                              "synonyms": [],
                              "chromosome": "17",
                              "location": "17q12",
                              "gene_family": ["Chemokine ligands"],
                              "taxon": 9606,
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GenomicEntity",
                                "biolink:GeneOrGeneProduct",
                                "biolink:MacromolecularMachine",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Gene"
                              ],
                              "gene_family_id": [483],
                              "equivalent_identifiers": [
                                "ENSEMBL:ENSG00000271503",
                                "NCBIGene:6352",
                                "NCBIGene:6352",
                                "HGNC:10632",
                                "UniProtKB:P13501"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015:SF170": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "C-C MOTIF CHEMOKINE 5",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015:SF170"
                              ]
                            }
                          }
                        ]
                      },
                      "PANTHER.FAMILY:PTHR12015": {
                        "category": [
                          "biolink:NamedThing",
                          "biolink:BiologicalEntity",
                          "biolink:GeneFamily",
                          "biolink:MolecularEntity",
                          "biolink:Entity"
                        ],
                        "name": "SMALL INDUCIBLE CYTOKINE A",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "synonyms": [],
                              "category": [
                                "biolink:BiologicalEntity",
                                "biolink:GeneFamily",
                                "biolink:NamedThing",
                                "biolink:MolecularEntity",
                                "biolink:Entity"
                              ],
                              "equivalent_identifiers": [
                                "PANTHER.FAMILY:PTHR12015"
                              ]
                            }
                          }
                        ]
                      }
                    },
                    "edges": {
                      "dd8ef7a4606c4f8e405e6a5b1b095993": {
                        "subject": "NCBIGene:6352",
                        "object": "PANTHER.FAMILY:PTHR12015",
                        "predicate": "biolink:part_of",
                        "attributes": [
                          {
                            "type": "WIKIDATA:Q80585",
                            "value": {
                              "predicate": "biolink:part_of",
                              "relation_label": "part of",
                              "provided_by": "panther.get_gene_by_gene_family",
                              "ctime": 1584932086.0009434,
                              "target_id": "PANTHER.FAMILY:PTHR12015",
                              "source_id": "NCBIGene:6352",
                              "source_database": "panther",
[...]
