{
  "openapi": "3.0.2",
  "info": {
    "title": "Automat",
    "version": "3.0",
    "termsOfService": "http://loading"
  },
  "servers": [
    {
      "url": "https://robokop-automat.apps.renci.org"
    }
  ],
  "paths": {
    "/binding-db/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "BINDING"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.",
        "operationId": "get_meta_knowledge_graph_meta_knowledge_graph_get_binding-db_trapi",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/binding-db/sri_testing_data": {
      "get": {
        "tags": ["trapi", "BINDING"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_sri_testing_data_get_binding-db_trapi",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/binding-db/query": {
      "post": {
        "tags": ["trapi", "BINDING"],
        "summary": "Accepts TRAPI Queries.",
        "description": "Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)",
        "operationId": "reasoner_api_query_post_binding-db_trapi",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Profile",
              "type": "boolean",
              "default": false
            },
            "name": "profile",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Validate",
              "type": "boolean",
              "default": false
            },
            "name": "validate",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Subclass",
              "type": "boolean",
              "default": true
            },
            "name": "subclass",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:SmallMolecule"],
                        "ids": ["PUBCHEM.COMPOUND:44640149"]
                      },
                      "n1": {
                        "categories": ["biolink:Protein"],
                        "ids": ["UniProtKB:P51570"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:affects"]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 Reasoner Api Query Post",
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/binding-db/cypher": {
      "post": {
        "summary": "Run a Neo4j cypher query.",
        "description": "Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post_binding-db",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["BINDING"]
      }
    },
    "/binding-db/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get_binding-db",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": ["BINDING"]
      }
    },
    "/binding-db/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. ",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get_binding-db",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Source Type",
              "type": "string"
            },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Target Type",
              "type": "string"
            },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["BINDING"]
      }
    },
    "/binding-db/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get_binding-db",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Node Type",
              "type": "string"
            },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["BINDING"]
      }
    },
    "/binding-db/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get_binding-db",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["BINDING"]
      }
    },
    "/cam-kp/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "CAM KG"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.",
        "operationId": "get_meta_knowledge_graph_meta_knowledge_graph_get_cam-kp_trapi",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/cam-kp/sri_testing_data": {
      "get": {
        "tags": ["trapi", "CAM KG"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_sri_testing_data_get_cam-kp_trapi",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/cam-kp/query": {
      "post": {
        "tags": ["trapi", "CAM KG"],
        "summary": "Accepts TRAPI Queries.",
        "description": "Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)",
        "operationId": "reasoner_api_query_post_cam-kp_trapi",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Profile",
              "type": "boolean",
              "default": false
            },
            "name": "profile",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Validate",
              "type": "boolean",
              "default": false
            },
            "name": "validate",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Subclass",
              "type": "boolean",
              "default": true
            },
            "name": "subclass",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:BiologicalProcess"],
                        "ids": ["GO:0000209"]
                      },
                      "n1": {
                        "categories": ["biolink:BiologicalProcess"],
                        "ids": ["GO:0006511"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:precedes"]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 Reasoner Api Query Post",
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/cam-kp/cypher": {
      "post": {
        "summary": "Run a Neo4j cypher query.",
        "description": "Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post_cam-kp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["CAM KG"]
      }
    },
    "/cam-kp/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get_cam-kp",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": ["CAM KG"]
      }
    },
    "/cam-kp/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. ",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get_cam-kp",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Source Type",
              "type": "string"
            },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Target Type",
              "type": "string"
            },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["CAM KG"]
      }
    },
    "/cam-kp/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get_cam-kp",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Node Type",
              "type": "string"
            },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["CAM KG"]
      }
    },
    "/cam-kp/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get_cam-kp",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["CAM KG"]
      }
    },
    "/cebs/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "cebs"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.",
        "operationId": "get_meta_knowledge_graph_meta_knowledge_graph_get_cebs_trapi",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/cebs/sri_testing_data": {
      "get": {
        "tags": ["trapi", "cebs"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_sri_testing_data_get_cebs_trapi",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/cebs/query": {
      "post": {
        "tags": ["trapi", "cebs"],
        "summary": "Accepts TRAPI Queries.",
        "description": "Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)",
        "operationId": "reasoner_api_query_post_cebs_trapi",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Profile",
              "type": "boolean",
              "default": false
            },
            "name": "profile",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Validate",
              "type": "boolean",
              "default": false
            },
            "name": "validate",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Subclass",
              "type": "boolean",
              "default": true
            },
            "name": "subclass",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:SmallMolecule"],
                        "ids": ["CHEBI:17747"]
                      },
                      "n1": {
                        "categories": ["biolink:NamedThing"],
                        "ids": ["MPATH:353"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": [
                          "biolink:associated_with_increased_likelihood_of"
                        ]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 Reasoner Api Query Post",
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/cebs/cypher": {
      "post": {
        "summary": "Run a Neo4j cypher query.",
        "description": "Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post_cebs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["cebs"]
      }
    },
    "/cebs/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get_cebs",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": ["cebs"]
      }
    },
    "/cebs/node/{curie}": {
      "get": {
        "summary": "Find a node by it's `curie` identifier.",
        "description": "Returns information about a node matching `curie`.",
        "operationId": "node_node__curie__get_cebs",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "example": "CHEBI:17747",
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node Node  Curie  Get",
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["cebs"]
      }
    },
    "/cebs/edges/{curie}": {
      "get": {
        "summary": "Get edges connected to the node with the identifier `curie`. ",
        "description": "Returns edges connected to the node with the identifier `curie`. Optionally, filter edges by predicate or adjacent node category.",
        "operationId": "one_hop_edges__curie__get_cebs",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "example": "CHEBI:17747",
            "name": "curie",
            "in": "path"
          },
          {
            "description": "Optionally provide a category to filter adjacent nodes and their edges by.",
            "required": false,
            "schema": {
              "title": "Category",
              "type": "string",
              "description": "Optionally provide a category to filter adjacent nodes and their edges by."
            },
            "example": "biolink:NamedThing",
            "name": "category",
            "in": "query"
          },
          {
            "description": "Optionally provide a predicate to filter edges by.",
            "required": false,
            "schema": {
              "title": "Predicate",
              "type": "string",
              "description": "Optionally provide a predicate to filter edges by."
            },
            "example": "biolink:associated_with_increased_likelihood_of",
            "name": "predicate",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Limit",
              "type": "integer"
            },
            "name": "limit",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Offset",
              "type": "integer"
            },
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop Edges  Curie  Get",
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["cebs"]
      }
    },
    "/cebs/edge_summary/{curie}": {
      "get": {
        "summary": "Get a summary of edges connected to the node with the identifier `curie`. ",
        "description": "Returns a list of the kinds edges connected to the node with the identifier `curie`. Results are formatted like [[predicate, node_category, count], ...].",
        "operationId": "one_hop_summary_edge_summary__curie__get_cebs",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "example": "CHEBI:17747",
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop Summary Edge Summary  Curie  Get",
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["cebs"]
      }
    },
    "/cebs/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get_cebs",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["cebs"]
      }
    },
    "/ctd/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "CTD"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.",
        "operationId": "get_meta_knowledge_graph_meta_knowledge_graph_get_ctd_trapi",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/ctd/sri_testing_data": {
      "get": {
        "tags": ["trapi", "CTD"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_sri_testing_data_get_ctd_trapi",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/ctd/query": {
      "post": {
        "tags": ["trapi", "CTD"],
        "summary": "Accepts TRAPI Queries.",
        "description": "Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)",
        "operationId": "reasoner_api_query_post_ctd_trapi",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Profile",
              "type": "boolean",
              "default": false
            },
            "name": "profile",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Validate",
              "type": "boolean",
              "default": false
            },
            "name": "validate",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Subclass",
              "type": "boolean",
              "default": true
            },
            "name": "subclass",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:SmallMolecule"],
                        "ids": ["PUBCHEM.COMPOUND:92196"]
                      },
                      "n1": {
                        "categories": ["biolink:Gene"],
                        "ids": ["NCBIGene:6531"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:affects"]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 Reasoner Api Query Post",
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/ctd/cypher": {
      "post": {
        "summary": "Run a Neo4j cypher query.",
        "description": "Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post_ctd",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["CTD"]
      }
    },
    "/ctd/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get_ctd",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": ["CTD"]
      }
    },
    "/ctd/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. ",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get_ctd",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Source Type",
              "type": "string"
            },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Target Type",
              "type": "string"
            },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["CTD"]
      }
    },
    "/ctd/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get_ctd",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Node Type",
              "type": "string"
            },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["CTD"]
      }
    },
    "/ctd/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get_ctd",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["CTD"]
      }
    },
    "/drugcentral/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "DrugCentral"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.",
        "operationId": "get_meta_knowledge_graph_meta_knowledge_graph_get_drugcentral_trapi",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/drugcentral/sri_testing_data": {
      "get": {
        "tags": ["trapi", "DrugCentral"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_sri_testing_data_get_drugcentral_trapi",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/drugcentral/query": {
      "post": {
        "tags": ["trapi", "DrugCentral"],
        "summary": "Accepts TRAPI Queries.",
        "description": "Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)",
        "operationId": "reasoner_api_query_post_drugcentral_trapi",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Profile",
              "type": "boolean",
              "default": false
            },
            "name": "profile",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Validate",
              "type": "boolean",
              "default": false
            },
            "name": "validate",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Subclass",
              "type": "boolean",
              "default": true
            },
            "name": "subclass",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:SmallMolecule"],
                        "ids": ["PUBCHEM.COMPOUND:91668186"]
                      },
                      "n1": {
                        "categories": ["biolink:Disease"],
                        "ids": ["MONDO:0005494"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:treats"]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 Reasoner Api Query Post",
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/drugcentral/cypher": {
      "post": {
        "summary": "Run a Neo4j cypher query.",
        "description": "Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post_drugcentral",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["DrugCentral"]
      }
    },
    "/drugcentral/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get_drugcentral",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": ["DrugCentral"]
      }
    },
    "/drugcentral/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. ",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get_drugcentral",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Source Type",
              "type": "string"
            },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Target Type",
              "type": "string"
            },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["DrugCentral"]
      }
    },
    "/drugcentral/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get_drugcentral",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Node Type",
              "type": "string"
            },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["DrugCentral"]
      }
    },
    "/drugcentral/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get_drugcentral",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["DrugCentral"]
      }
    },
    "/genome-alliance/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "Alliance of Genome Resources"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.",
        "operationId": "get_meta_knowledge_graph_meta_knowledge_graph_get_genome-alliance_trapi",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/genome-alliance/sri_testing_data": {
      "get": {
        "tags": ["trapi", "Alliance of Genome Resources"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_sri_testing_data_get_genome-alliance_trapi",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/genome-alliance/query": {
      "post": {
        "tags": ["trapi", "Alliance of Genome Resources"],
        "summary": "Accepts TRAPI Queries.",
        "description": "Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)",
        "operationId": "reasoner_api_query_post_genome-alliance_trapi",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Profile",
              "type": "boolean",
              "default": false
            },
            "name": "profile",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Validate",
              "type": "boolean",
              "default": false
            },
            "name": "validate",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Subclass",
              "type": "boolean",
              "default": true
            },
            "name": "subclass",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:Gene"],
                        "ids": ["NCBIGene:14462463"]
                      },
                      "n1": {
                        "categories": ["biolink:Gene"],
                        "ids": ["NCBIGene:796017"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:orthologous_to"]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 Reasoner Api Query Post",
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/genome-alliance/cypher": {
      "post": {
        "summary": "Run a Neo4j cypher query.",
        "description": "Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post_genome-alliance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["Alliance of Genome Resources"]
      }
    },
    "/genome-alliance/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get_genome-alliance",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": ["Alliance of Genome Resources"]
      }
    },
    "/genome-alliance/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. ",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get_genome-alliance",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Source Type",
              "type": "string"
            },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Target Type",
              "type": "string"
            },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["Alliance of Genome Resources"]
      }
    },
    "/genome-alliance/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get_genome-alliance",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Node Type",
              "type": "string"
            },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["Alliance of Genome Resources"]
      }
    },
    "/genome-alliance/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get_genome-alliance",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["Alliance of Genome Resources"]
      }
    },
    "/gtex/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "GTEx"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.",
        "operationId": "get_meta_knowledge_graph_meta_knowledge_graph_get_gtex_trapi",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/gtex/sri_testing_data": {
      "get": {
        "tags": ["trapi", "GTEx"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_sri_testing_data_get_gtex_trapi",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/gtex/query": {
      "post": {
        "tags": ["trapi", "GTEx"],
        "summary": "Accepts TRAPI Queries.",
        "description": "Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)",
        "operationId": "reasoner_api_query_post_gtex_trapi",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Profile",
              "type": "boolean",
              "default": false
            },
            "name": "profile",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Validate",
              "type": "boolean",
              "default": false
            },
            "name": "validate",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Subclass",
              "type": "boolean",
              "default": true
            },
            "name": "subclass",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:SequenceVariant"],
                        "ids": ["CAID:CA8545933"]
                      },
                      "n1": {
                        "categories": ["biolink:Gene"],
                        "ids": ["NCBIGene:192666"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:is_frameshift_variant_of"]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 Reasoner Api Query Post",
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/gtex/cypher": {
      "post": {
        "summary": "Run a Neo4j cypher query.",
        "description": "Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post_gtex",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["GTEx"]
      }
    },
    "/gtex/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get_gtex",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": ["GTEx"]
      }
    },
    "/gtex/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. ",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get_gtex",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Source Type",
              "type": "string"
            },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Target Type",
              "type": "string"
            },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["GTEx"]
      }
    },
    "/gtex/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get_gtex",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Node Type",
              "type": "string"
            },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["GTEx"]
      }
    },
    "/gtex/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get_gtex",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["GTEx"]
      }
    },
    "/gtopdb/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "GtoPdb"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.",
        "operationId": "get_meta_knowledge_graph_meta_knowledge_graph_get_gtopdb_trapi",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/gtopdb/sri_testing_data": {
      "get": {
        "tags": ["trapi", "GtoPdb"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_sri_testing_data_get_gtopdb_trapi",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/gtopdb/query": {
      "post": {
        "tags": ["trapi", "GtoPdb"],
        "summary": "Accepts TRAPI Queries.",
        "description": "Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)",
        "operationId": "reasoner_api_query_post_gtopdb_trapi",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Profile",
              "type": "boolean",
              "default": false
            },
            "name": "profile",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Validate",
              "type": "boolean",
              "default": false
            },
            "name": "validate",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Subclass",
              "type": "boolean",
              "default": true
            },
            "name": "subclass",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:SmallMolecule"],
                        "ids": ["CHEBI:195557"]
                      },
                      "n1": {
                        "categories": ["biolink:Gene"],
                        "ids": ["NCBIGene:239"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:affects"]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 Reasoner Api Query Post",
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/gtopdb/cypher": {
      "post": {
        "summary": "Run a Neo4j cypher query.",
        "description": "Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post_gtopdb",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["GtoPdb"]
      }
    },
    "/gtopdb/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get_gtopdb",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": ["GtoPdb"]
      }
    },
    "/gtopdb/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. ",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
        "operationId": "one_hop__source_type___target_type___curie__get_gtopdb",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Source Type",
              "type": "string"
            },
            "name": "source_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Target Type",
              "type": "string"
            },
            "name": "target_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response One Hop  Source Type   Target Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["GtoPdb"]
      }
    },
    "/gtopdb/{node_type}/{curie}": {
      "get": {
        "summary": "Find `node` by `curie`",
        "description": "Returns `node` matching `curie`.",
        "operationId": "node__node_type___curie__get_gtopdb",
        "parameters": [
          {
            "required": true,
            "schema": {
              "title": "Node Type",
              "type": "string"
            },
            "name": "node_type",
            "in": "path"
          },
          {
            "required": true,
            "schema": {
              "title": "Curie",
              "type": "string"
            },
            "name": "curie",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Node  Node Type   Curie  Get",
                  "type": "array",
                  "items": {}
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["GtoPdb"]
      }
    },
    "/gtopdb/simple_spec": {
      "get": {
        "summary": "Get one-hop connection schema",
        "description": "Returns a list of available predicates when choosing a single source or target curie. Calling this endpoint with no query parameters will return all possible hops for all types.",
        "operationId": "simple_spec_simple_spec_get_gtopdb",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Source",
              "type": "string"
            },
            "name": "source",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Target",
              "type": "string"
            },
            "name": "target",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Simple Spec Simple Spec Get",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SimpleSpecElement"
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["GtoPdb"]
      }
    },
    "/gwas-catalog/meta_knowledge_graph": {
      "get": {
        "tags": ["trapi", "GWAS Catalog"],
        "summary": "Meta knowledge graph representation of this TRAPI web service.",
        "description": "Returns a meta knowledge graph representation of this TRAPI web service. The meta knowledge graph is composed of the union of most specific categories and predicates for each node and edge.",
        "operationId": "get_meta_knowledge_graph_meta_knowledge_graph_get_gwas-catalog_trapi",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetaKnowledgeGraph"
                }
              }
            }
          }
        }
      }
    },
    "/gwas-catalog/sri_testing_data": {
      "get": {
        "tags": ["trapi", "GWAS Catalog"],
        "summary": "Test data for usage by the SRI Testing Harness.",
        "description": "Returns a list of edges that are representative examples of the knowledge graph.",
        "operationId": "get_sri_testing_data_sri_testing_data_get_gwas-catalog_trapi",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SRITestData"
                }
              }
            }
          }
        }
      }
    },
    "/gwas-catalog/query": {
      "post": {
        "tags": ["trapi", "GWAS Catalog"],
        "summary": "Accepts TRAPI Queries.",
        "description": "Accepts a TRAPI Query and returns a TRAPI Response. (https://github.com/NCATSTranslator/ReasonerAPI/)",
        "operationId": "reasoner_api_query_post_gwas-catalog_trapi",
        "parameters": [
          {
            "required": false,
            "schema": {
              "title": "Profile",
              "type": "boolean",
              "default": false
            },
            "name": "profile",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Validate",
              "type": "boolean",
              "default": false
            },
            "name": "validate",
            "in": "query"
          },
          {
            "required": false,
            "schema": {
              "title": "Subclass",
              "type": "boolean",
              "default": true
            },
            "name": "subclass",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReasonerRequest"
              },
              "example": {
                "message": {
                  "query_graph": {
                    "nodes": {
                      "n0": {
                        "categories": ["biolink:SequenceVariant"],
                        "ids": ["CAID:CA241642928"]
                      },
                      "n1": {
                        "categories": ["biolink:PhenotypicFeature"],
                        "ids": ["EFO:0003923"]
                      }
                    },
                    "edges": {
                      "e01": {
                        "subject": "n0",
                        "object": "n1",
                        "predicates": ["biolink:has_phenotype"]
                      }
                    }
                  }
                },
                "workflow": [
                  {
                    "id": "lookup"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReasonerRequest"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response 400 Reasoner Api Query Post",
                  "type": "object"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/gwas-catalog/cypher": {
      "post": {
        "summary": "Run a Neo4j cypher query.",
        "description": "Runs a cypher query against the Neo4j instance, and returns an equivalent response expected from a Neo4j HTTP endpoint (https://neo4j.com/docs/rest-docs/current/).",
        "operationId": "cypher_cypher_post_gwas-catalog",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CypherRequest"
              },
              "example": {
                "query": "MATCH (n) RETURN count(n)"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "tags": ["GWAS Catalog"]
      }
    },
    "/gwas-catalog/metadata": {
      "get": {
        "summary": "Metadata about the knowledge graph.",
        "description": "Returns JSON with metadata about the data sources in this knowledge graph.",
        "operationId": "metadata_metadata_get_gwas-catalog",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Response Metadata Metadata Get"
                }
              }
            }
          }
        },
        "tags": ["GWAS Catalog"]
      }
    },
    "/gwas-catalog/{source_type}/{target_type}/{curie}": {
      "get": {
        "summary": "Get one hop results from source type to target type. ",
        "description": "Returns one hop paths from `source_node_type`  with `curie` to `target_node_type`.",
[...]
